.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

.modalOverlay h3{
    color: #ff4d4f;
}

.modalBox {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    width: 320px;
    text-align: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.modalTitle {
    margin-bottom: 10px;
}

.modalMessage {
    margin-bottom: 20px;
}

.modalButton {
    padding: 8px 16px;
    border: none;
    background: #ff4d4f;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
