.container {
  max-width: 1000px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.cardsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  background: #fafafa;
  color: #000000;

  width: 100%;        
  max-width: 250px;      
  height: auto;         
  min-height: 300px; 

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jobTitle {
  text-align: center;

  min-height: 80px;
  max-height: 50px;
  overflow: hidden;

  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;

  position: relative;
  top: 5px;
}


.button:hover {
  background: #0056b3;
}

.button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.cardData {
  margin-top: auto;  
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2px;
}

.jobId {
  position: relative;
  top: -25px;
}

.inputError {
  font-size: 12px;
  color: #e53935;
  margin: 4px 0 0 0; 
}
